<div class="relative bg-gray-800 border-b border-gray-600">
    <div class="max-w-7xl mx-auto py-1 px-3 sm:px-6 lg:px-8">
        <div class="sm:text-center sm:px-16" style="height: 24px;">
            <p class="font-medium text-white hidden sm:block"><span class="text-xs font-medium mr-1">Volume
                    24h:</span><span class="text-xs text-blue-400 font-medium mr-2">134,433.9 HBAR</span><span
                    class="text-xs font-medium ml-2 mr-1">Total volume:</span><span
                    class="text-xs text-blue-400 font-medium mr-2">163,518,315.904 HBAR</span></p>
            <p class="font-medium text-white block mx-auto sm:hidden slide-in-out-leave-from slide-in-out-leave-active">
                <span class="text-xs font-medium mr-1">Total volume:</span><span
                    class="text-xsfont-medium mr-2 skeleton text-transparent" style="width: 60px;">0000000000000</span>
            </p><!---->
        </div>
    </div>
</div>